<div class="standard_flex">
{% for person in site.data.references.people %}
    <div class="standard_flex_item">
        <h5>{{person.name}}</h5>
        <p>
            <b>Relationship:</b> {{person.relationship}} <br>
            <b>Location:</b> {{person.location}} <br>
            <b>Timezone:</b> {{person.timezone}} <br>
            {% if person.email %}
                <b>Email:</b> {{person.email}} <br>
            {% endif %}
            {% if person.phone %}
                <b>Phone:</b> {{person.phone}}</p>
            {% endif %}
        <p>{{person.details}}</p>
    </div>
{% endfor %}
</div>